.BangGiaDichVu {
    position: relative;
    width: 540px;
    height: 350px;
    background:white;
    margin: auto;

}
.BangGiaDichVu .canh-giua {
    position: relative;
    width: 200px;
    margin: auto;  
}
.BangGiaDichVu .text-title {
    position: relative;
    width: 122px;
    height: 21px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding-top: 15px;
}
.BangGiaDichVu .button-title {
    position: relative;
    fontmily: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    
}
.BangGiaDichVu .col-canh {
   
    }
.BangGiaDichVu .text-title1 {
    float: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    margin-right: 150px;
    margin-left: 60px;
}
.BangGiaDichVu .text-title2{
    margin-left: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 10px;
}
.BangGiaDichVu .exampleForm.ControlSelect1{
    
    
}
.BangGiaDichVu .col-nhap-gia{
    margin-left: -30px;
     
}
.BangGiaDichVu .col-nhap-gia1{
    margin-left: -80px;
     
}
.BangGiaDichVu .gia {
   margin-left: -11px;
}
.BangGiaDichVu .gia1 {
    margin-left: -25px;
 }
.BangGiaDichVu .button{
    
}
.BangGiaDichVu .button1{
    margin-left: -11px;
    
}
.BangGiaDichVu .button-dang-ky {
   color:white;
   background-color: #119B7A;
   width: 200px;
   margin: auto;

}
.BangGiaDichVu .mb-3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
.BangGiaDichVu .Checkbox {
   
}
.BangGiaDichVu .i-image{
    width: 20px;
    height: 20px;
 
}
.ic_plus .ic_minus{
    background-color: #BD34FE;
}