.BangGiaDichVu {
 width: 60%;
 background:white;
 margin:auto;
 margin-top:2px;
 border-radius: 5px;
 padding: 2rem;
}
.BangGiaDichVu .canh-giua {
   margin:auto;
   width:29%;
}
.BangGiaDichVu .text-title {
    font-size:18px;
    font-family:Open Sans;
    float: left;
    margin-right: 10px;
    font-weight:bold;
    padding-top: 10px
}
.BangGiaDichVu .button-title {
    font-size:18px;
    font-family:Open Sans;
    font-weight:bold;
    margin-top: -10px;
}
.BangGiaDichVu .text-title1 {
    float: left;
    margin-right: 10px;
}
.BangGiaDichVu .text-title2{
    margin-left: 290px;
}
.BangGiaDichVu .exampleForm.ControlSelect1{
    font-size: 100px;
    font-family:Open Sans;
}
.BangGiaDichVu .col-nhap-gia{
    margin-left: -90px;
}
.BangGiaDichVu .gia {
    margin-left: -20px;
}
.BangGiaDichVu .button{
    
}
.BangGiaDichVu .button1{
    margin-left: -10px;
}
.BangGiaDichVu .button-dang-ky {
    margin-left: 45%;
}