.SignInComponent--Nailer{
    width: 100%;
    margin:auto;
    background:#BD34FE;;
    border-radius:5px;
    padding: 30px 95px;
    color: #FFF;
}
.SignInComponent--Nailer ::first-letter{
    text-transform: capitalize;
}