.SignInComponent--Nailer{
    width:540px;
    height:300px;
    margin:auto;
    background:#BD34FE;;
    border-radius:5px;
    padding: 30px 95px;
    color: #FFF;
}
.SignInComponent--Nailer ::first-letter{
    text-transform: capitalize;
}