.SignInComponent--Nailer{
    width:540px;
    height:400px;
    margin:auto;
    background:dodgerblue;
    border-radius:5px;
    font-size:15px;
    font-family:Open Sans;
    color:white;
}
.SignInComponent--Nailer .text-center::first-letter{
    text-transform:capitalize;
}
.SignInComponent--Nailer .btnLogin{
    margin-left:188px; 
    background: #FF773C;
}
.SignInComponent--Nailer .btnLogin:hover{
    background: #FF773C;
}
.SignInComponent--Nailer .qmk{
    border:1px solid black;
    margin-left:45px;
    margin-top:3px;
    font-size:12px;
    font-weight:600;
    font-family: Open Sans;
}
.SignInComponent--Nailer .qmk:hover{
    border:1px solid black;
}