.SignInComponent--Nailer{
    width:540px;
    height:400px;
    margin:auto;
    background:#BD34FE;
    border-radius:5px;
    font-size:15px;
    font-family:Open Sans;
    color:white;
}
.SignInComponent--Nailer .text-center::first-letter{
    text-transform:capitalize;
}
.SignInComponent--Nailer .btnLogin{
    margin-left:188px; 
    background: #FF773C;
}
.SignInComponent--Nailer .btnLogin:hover{
    background: #FF773C;
}
.SignInComponent--Nailer .qmk{
    border:1px solid black; 
    font-size:12px;
    font-weight:600;
    font-family: Open Sans;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 14px;
    padding-right: 15px;
}
.SignInComponent--Nailer .qmk:hover{
    border:1px solid black;
}
.icFacebook{
    color:white;  
    height: fit-content 70px;
    width: fit-content 100%;
}
.icGoogle{
    color:#1E9600;  
    height: fit-content 70px;
    width: fit-content 100%;
}
.icZalo{
    background-image: url('../../assets/images/Logo_Zalo.svg');
    height: 25px;
}
.box-Facebook{
    height: 30px;    
    border-radius: 5px;
    background-color: #3B579D;
}
.box-Google{
    height: 30px;
    background: #F4F4F4;
    border-radius: 5px;
}
.box-Zalo{
    width:30px;
    height:30px;
    background: #018FE5;
    border-radius: 5px;
}
.box-Zalo img{
    margin-left:-10px;
}
.icon{
    margin-bottom: 30px;
}
/*.TenIcon{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #000000;
}
*/