.SignInComponent--Nailer{
    width: 100%;
    margin:auto;
    background:#BD34FE;
    border-radius:5px;
    font-size:15px;
    font-family:Open Sans;
    color:white;
}
.SignInComponent--Nailer .text-center::first-letter{
    text-transform:capitalize;
}
.SignInComponent--Nailer .btnLogin{
    margin-left:262px; 
    background: #FF773C;
    margin-top:5px;
}
.SignInComponent--Nailer .btnLogin:hover{
    background: #FF773C;
}
.SignInComponent--Nailer .qmk{
    border:1px solid black; 
    font-size:12px;
    font-weight:600;
    font-family: Open Sans;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 14px;
    padding-right: 15px;
    margin-left:42px;
    width:-100px;
}
.SignInComponent--Nailer .qmk:hover{
    border:1px solid black;
}
.icFacebook{
    color:white;  
    height: fit-content 70px;
    width: fit-content 100%;
}
.icGoogle{
    color:#1E9600;  
    height: fit-content 70px;
    width: fit-content 100%;
}
.icZalo{
    background-image: url('../../assets/images/Logo_Zalo.svg');
    height:30px;
    width:30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-5px;
    margin-left:-7px;
}
.box-Facebook{
    width:150px;
    height:30px;    
    border-radius: 5px;
    background-color: #3B579D;
    margin-left:25px;
    padding:5px;
}
.box-Google{
    width:160px;
    height:30px;
    background: #F4F4F4;
    border-radius: 5px;
    padding:5px;
    margin-left:10px;
}
.box-Zalo{
    width:120px;
    height:30px;
    background:#018FE5;
    border-radius: 5px;
    margin-left:39px;
    padding:5px;
}
.icon{
    margin-bottom:30px;
}
.text1{
    margin-left:55px;
    margin-top:-19px;
    font-family: Open Sans;
    font-size: 12px;
    color:#000000;
}
.text2{
   margin-left:55px;
   margin-top:-19px;
   font-family: Open Sans;
   font-size:12px;
   color:#000000;
}
.text3{
    margin-left:55px;
    margin-top:-15px;
    font-family: Open Sans;
    font-size:12px;
    color:#000000;
}
.SignInComponent--Nailer .sđt{
    margin-left:12px;
}
.SignInComponent--Nailer .mk{
    margin-left:12px;
}
.SignInComponent--Nailer .input{
    width:425px;
}