* {
    box-sizing: border-box;
}
.product {
    height: 80vh;
    margin: 0;
}
.bgimg {
    background-image: url('./forestbridge.jpg');
    height: 100% !important;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }