
.slo
{
    width: 40%;
    height: 28px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.box-image {
    height: 200px;
    width: 200px;
    /* padding: 3rem; */
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}
    .box-image .image {
        margin: 50px;
    }

#support input.form-control:active {
    border: none;
}
#support input.form-control:focus {
    border: none;
}