.footer {
  width: 100%;
  background-color: #6645C5;
  color: #fafafa;
  font-size: 15px;
  bottom: 0;
}

.footer .row {
  background-color: #6645C5;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footBar {
  height: 30px;
  max-width: 100%;
  background-color: #4D2BAF;
}

.copywright {
  font-size: 12px;
  line-height: 30px;
}

.aboutUsContent,
.supportMail {
  border-bottom: 1px #fafafa solid;
  padding-bottom: 4%;
}

.Slogan{
  font-size: 16px;
  text-align: center;
}

.footSocial {
  font-size: 22px;
  text-align: center;
}

.footSocial a:hover {
  color: #29b6f6 !important;
}

.footer a {
  color: #fafafa !important;
}

.footer a:hover {
  color: #29b6f6 !important;
  text-decoration: none !important;
}

.footer img {
  width: 100%;
  height: auto;
}

.white {
  color: #FFF;
}

.footer textarea {
  min-height: 5rem;
}

.footer .sendButton {
  border: 0px !important;
  background-color: #5b00b7 !important;
  color: #fff !important;
}

.footer .sendButton:hover {
  background-color: #5101A2 !important;
}