* {
    box-sizing: border-box;
}

.uploadProduct {
    font-size: 100%;
}

.uploadProduct .textSize1 {
    font-size: 1.1rem;
}

.uploadProduct .pictureView {
    height: 95%;
    width: 100%;
    background-color: #D17CFA;
    border-radius: 0.4rem;
}

.uploadProduct .saveButton {
    width: 100%;
    margin-top: 1.6rem;
}

.uploadProduct .saveButton {
	background-color: #8001FF;
}

.uploadProduct .saveButton:hover {
	background-color: #5b00b7;
}