.Title{
    font-family: Open Sans;
	  font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 18px;
		color: #000000;
		margin-bottom: 14px;
		margin-top: 14px; 
    text-align: center;
    width: 100%;
    }
.avatar{
    background-image: url('../../assets/images/AVT.svg');
    background-size: cover;
		width: 140px;
		background-repeat: no-repeat;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}
.Content-Password{
  width: 80%;
  margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 9px;  
}
.Content-Password .Left-Password{
  font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	font-size: 14px;
	color: #000000;
}    
