{
    "useBabel": true,
    "babelOptions": {
        "babelrc": false,
        "presets": [
            "@babel/preset-env",
            "@babel/preset-react",
        ]
    },
    "babelCore": "@babel/core",
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}