/* .App-header .header .navbar1 {
	width: 75%;
}

/* .App-header .header .navbar2{
	width: 73%;
} */ */

.header .navbar ul {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 15px;
	color: #000000;
	position: relative;
	float: left;
}

.header .navbar ul li, .navbar2 ul li  {
	display: inline-block;
	margin-right: 60px;
}

.header {
	background: rgba(248, 194, 243);
	backdrop-filter:  0.5;	
	padding-top: 20px;
	position: sticky;
	top: 0;
	z-index: 99;
	float: left;
	width: 100%;
}

.header .navbar ul:visited{
	color: #000000;
}

.header .navbar2 ul {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	margin-left: 32%;
}

.whiteColor {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #000000;

}

.whiteColor:hover {
	color: #f3f3f3;
	text-decoration: none;
}

.search {
	width: 250px;
	outline: none;
	color: #000;
	background-color: transparent;
	border: 1px solid #000000;
	line-height: 19px;

}

.ic_search{
	color: #000000;
}

.ic_search:hover{
	cursor: pointer;
}

.header a {
    color: #000 !important;
} 

.top:hover ,a:hover { 
  color: #29b6f6 !important;
  text-decoration: none !important;
}
.App-header .top:hover{
	 color:#29b6f6;
	 cursor: pointer;
}

.BrandName{
	background-image: url('../../assets/images/BrandFont.svg');
	width: 25%;
	height: 48px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 3%;
	margin-top: 15px;
}