.overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.login__box {
	width: 55%;
	height: 20rem;
	background-color: #eee;
	border-radius: 10px;
	overflow: hidden;
}
.nav-tabs {
	display: flex;
	justify-content: space-around;
}
.tab-content {
	height: 87%;
}
.tab-pane {
	height: 100%;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.nav-item {
	width: 161px;
	text-align: center;
}
.nav-item.active {
	background-color: #eee!important;
	border: none!important;
	border-bottom: 3px solid #000!important;
}