.footer {
    max-width: 1440px;
    background-color: #6645C5;
    color: #fafafa;
    font-size: 15px;
}

.row {
    background-color: #6645C5;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footBar {
    height: 30px;
    max-width: 1440px;
    background-color: #4D2BAF
}

.copywright {
    font-size: 12px;
    line-height: 30px;
}

.aboutUsContent, .supportMail {
    border-bottom: 1px #fafafa solid;
    padding-bottom: 4%;
    }